


#container{
    background-color: #0d202b;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
}



.characters-list{
    width: 80%;
    padding-top:30px;
    padding-bottom:30px;
    background-color: black;
    display: flex;
    justify-content: space-around;
    border: 1px solid #17313a;

}

.day{
    width:240px;
    height:760px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}



.banhoc{
    width: 220px;
    height:90px;
    background-color:#09495c;
    display: flex;
    justify-content: space-around;
    border: 1px solid grey;
}

.characters-item{
    display: flex;
    align-items: center;
    text-align: center;
    width: 78x;
    height: 90px;
    text-decoration: none;
    color:chocolate;
}



