*{
    font-family: 'Roboto', sans-serif;
    padding:0;
    margin:0;
}

.header{
    width:100%;
}



.title{
    color:floralwhite;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
}

.drive{
    padding:8px;
    background-color:darkcyan;
    text-align: center;
}

.DRIVE{
    color:floralwhite;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
}

#A1{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #17313a;
}

#navbar{
    width:100%;
    height: 50px;
    background-color: #102531;
    border-bottom: 1px solid #17313a;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

ul{
    list-style: none;
}

nav li{
    display: inline-block;
    padding-right: 20px;
    padding-left:20px
}

nav, li, a{
    text-transform: uppercase;
    text-decoration: none;
    color: #88a0a9;
    font-size: 18px;
}
nav li a:hover{
    color: floralwhite;
}





.container-1{
    width: 300px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}
.container-1 input#searchBar{
    width: 280px;
    height: 30px;
    background: #102531;
    border: none;
    font-size: 10pt;
    float: left;
    color: #63717f;
    padding-right: 45px;
    padding-left: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.container-1 .icon{
    position: absolute;
    top: 50%;
    margin-left: 250px;
    margin-top: 5px;
    z-index: 1;
    color: cornsilk;
}

/* ------------------------------------------- */

#footer{
    width:100%;
    height: 100px;
    border-top: 1px solid #17313a;
    background-color: #042233;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-footer{
    color:gainsboro;
    font-size: 14px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

/* -------------------------dung-chung---------------------------------- */


#web{
    background-color: #0d202b;
}

.text{
    text-align: center;
    margin-top: 12px;
}
.text-first{
    font-size:40px;
    color: floralwhite;
}
.text-second{
    color: #d47559;
    font-size: 20px;
}
.text-third{
    padding-top:24px;
    color: #88a0a7;
    font-size: 16px;
}


