*{
    font-family: 'Roboto', sans-serif;
    padding:0;
    margin:0;
}
#main-content{
    background-color: #0d202b;
    display:flex;
    justify-content: center;
    
}

a{
    text-align: center;
    width: 78x;
    height: 90px;
    text-decoration: none;
    color:chocolate;
}

.characters-list{
    background-color: #102531;
    display: flex;
    justify-content: space-around;
    border: 1px solid #17313a;
    width: 80%;
}

.day{
    width:240px;
    height:760px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}



.banhoc{
    width: 200px;
    height:90px;
    background-color:#09495c;
    display: flex;
    justify-content: space-around;
    border: 1px solid grey;
}

.characters-item{
    display: flex;
    align-items: center;
}



