*{
    font-family: 'Roboto', sans-serif;
    padding:0;
    margin:0;
}

#web{
    background-color: #0d202b;
}

a{
    text-decoration: none;
    text-transform: uppercase;
    color:lightslategray;
}
a:hover{
    color:gainsboro;
}

.title{
    color:floralwhite;
    font-size: 20px;
}

.drive{
    padding:8px;
    background-color:darkcyan;
    display: flex;
    align-items: center;
    justify-content: center;
}

.DRIVE{
    color:floralwhite;
    font-size: 16px;
}

#A1{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #17313a;
}

#navbar{
    display: flex;
    justify-content:space-around;
    height: 50px;
    line-height: 50px;
    background-color: #102531;
    border-bottom: 1px solid #17313a;
}


.container-1{
    width: 300px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}
.container-1 input#searchBar{
    width: 280px;
    height: 30px;
    background: #102531;
    border: none;
    font-size: 10pt;
    float: left;
    color: #63717f;
    padding-right: 45px;
    padding-left: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.container-1 .icon{
    position: absolute;
    top: 50%;
    margin-left: 250px;
    margin-top: 5px;
    z-index: 1;
    color: cornsilk;
}




/* --------------------------------------------------- */


#container{
    height: 2000px;
    width: 100%;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.intro{
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.text{
    text-align: center;
    margin-top: 12px;
}
.text-first{
    font-size:40px;
    color: floralwhite;
}
.text-second{
    color: #d47559;
    font-size: 20px;
}
.text-third{
    padding-top:24px;
    color: #88a0a7;
    font-size: 16px;
}



.content{
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: #88a0a7; */
}
.img1-ct1{
    transform: rotate(-3deg);
    margin-left: 100px;
}
.img-ct1{
    transform: rotate(5deg);
}

.content-right-ct1{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-around;
    width: 600px;
    height: 500px;
}



.ct3{
    flex-direction: column;
}






/* --------------------------------------------------- */


#footer{
    background-color: #102531;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.text-footer{
    color:gainsboro;
    font-size: 14px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}