


.profile{
    padding-top: 60px;
    padding-bottom: 60px;
    width: 90%;
    height: 600px;
    text-align: center;
    font-size:30px;
    background-color: #102531;
    border: 1px solid #17313a;
}