*{
    font-family: 'Roboto', sans-serif;
    padding:0;
    margin:0;
}

#container{
    background-color: #0d202b;
    width: 100%;
}

a{
    text-decoration: none;
    text-transform: uppercase;
    color:lightslategray;
}
a:hover{
    color:gainsboro;
}

.title{
    color:floralwhite;
    font-size: 20px;
}
.DRIVE{
    color:floralwhite;
    font-size: 16px;
}

#A1{
    padding-left: 120px;
    padding-right:120px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navbar{
    display: flex;
    justify-content:space-around;
    height: 50px;
    line-height: 50px;
    background-color: #042233;
}


.container-1{
    width: 300px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}

.container-1 input#search{
    width: 280px;
    height: 30px;
    background: #042233;
    border: none;
    font-size: 10pt;
    float: left;
    color: #63717f;
    padding-right: 45px;
    padding-left: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.container-1 .icon{
    position: absolute;
    top: 50%;
    margin-left: 250px;
    margin-top: 5px;
    z-index: 1;
    color: cornsilk;
}

.drive{
    padding:8px;
    background-color:darkcyan;
    display: flex;
    align-items: center;
    justify-content: center;
}

